openapi: 3.1.0
info:
  title: Filevine Contacts Identity API
  description: 'Contact cards represent people and organizations associated with a project — clients, opposing parties, witnesses, adjusters, experts, and third parties. The Contacts API exposes the global contact list as well as project-scoped contact attachments and roles.

    '
  version: '2.0'
  contact:
    name: Filevine API Support
    url: https://developer.filevine.io/
  license:
    name: Filevine Terms of Service
    url: https://www.filevine.com/terms-of-service/
servers:
- url: https://api.filevine.io
  description: Filevine API Gateway (US)
- url: https://api.filevineapp.ca
  description: Filevine API Gateway (Canada)
security:
- BearerAuth: []
tags:
- name: Identity
  description: PAT-to-bearer access token exchange.
paths:
  /connect/token:
    post:
      summary: Filevine Get Access Token
      description: 'Exchange a Personal Access Token (PAT) for a bearer access token. The request is a standard OAuth 2.0 token request with grant_type set to `personal_access_token` and the PAT supplied in the `token` field. The response includes the access token, expiration in seconds, the token type, and the granted scopes.

        '
      operationId: getAccessToken
      tags:
      - Identity
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Token issued successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid request or PAT.
components:
  schemas:
    TokenResponse:
      type: object
      required:
      - access_token
      - token_type
      - expires_in
      - scope
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 1200
        scope:
          type: string
    TokenRequest:
      type: object
      required:
      - grant_type
      - token
      - scope
      properties:
        grant_type:
          type: string
          example: personal_access_token
        token:
          type: string
          description: The Personal Access Token issued from the Filevine UI.
        scope:
          type: string
          description: Space-separated list of requested scopes (e.g. `fv.api.gateway.access filevine.v2.api.*`).
        client_id:
          type: string
        client_secret:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
